
body {
    background: #F3F5FC;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.container > * {
    margin: 40px;
}

.card--input {
    flex-basis: 20%;
    flex-grow: 1;
}

.card--input textarea {
    background: #F3F5FC;
    width: 100%;
    height: calc(100% - 280px);
    font-size: 32px;
    font-weight: bold;
    margin-top: 120px;
    color: #0A3871;
    resize: none;
    border: none;
}

.card--input textarea::placeholder {
    color: #0A3871;
}

.card--input textarea:focus {
    outline: none;
    border: none;
}

.card--input p {
    font-size: 12px;
    color: #495057;
    margin: 16px 0;
}

.card--output {
    background:white;
    flex-basis: 25%;
    height: calc(100vh - 80px);
    padding: 32px;
    border-radius: 32px;
    box-sizing: border-box;
    
    display: flex;
    align-items: center;
}

.message--notice img {
    width: 100%;
    margin-bottom: 32px;
}

.message--notice h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 16px;
}

.message--result p {
    font-size: 16px;
    text-align: center;
}

.message--result textarea {
    width: 100%;
    height: calc(100vh - 280px);
    font-size: 24px;
    color: #495057;
    resize: none;
    margin-bottom: 32px;
    border: none;
}

.group__button {
    display: flex;
    justify-content: space-between;
}

.button {
    flex-basis: calc(50% - 12px);
    font-size: 16px;
    padding: 24px;
    border-radius: 24px;
    border: 1px solid #0A3871;
    color: #0A3871;
    cursor: pointer;
}

.button--encrypt {
    background: #0A3871;
    color: white;
}

.button--decrypt {
    background: #D8DFE8;
}

.button--copy {
    width: 100%;
    background: #FFF;
}

@media (max-width: 820px) {
    .container {
        flex-flow: column wrap;
    }
    
    .card--input textarea {
        margin-top: 40px;
        height: 500px;
    }
    
    .card--output {
        display: block;
        text-align: center;
        margin-top: 20px;
    }

    .message--notice img {
        display: none;
    }

    .message--result textarea {
        height: 300px;
    }
    
    .group__button {
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 410px) {
    .group__button {
        flex-flow: column wrap;
    }
    
    .button--encrypt {
        margin-bottom: 24px;
    }
}